.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery .nft {
  padding: 10px;
  width: 50%;
  height: auto;
  font-size: small;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.gallery img {
  flex: 1;
}
